#main_head {
    background-color: rgb(180, 204, 240);
    color: black;

    font-style: italic;
    font-weight: bold;
    font-size: 50px;

    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
}

#main_a1:hover {
    background-color: rgb(236, 236, 236);
    border-bottom: 3px solid;
    border-color:rgb(109, 109, 109);
}